@import url(http://fonts.googleapis.com/css?family=Roboto);


/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_--_
Colors
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

@blue: #009CDC;
@white: #fff;
@text: #888;

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_--_
Common
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */


body {
	font-size: 16px !important;
	/*margin: 0;
	padding: 0;*/
	height: 100%;
	font-family: 'Roboto', sans-serif;
	background: none repeat scroll 0 0 #fff;
	color: @text;

}

button {
	i {
		margin-right: 10px;
	}
}



/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_--_
Home
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

section {
}

.anonym {
	text-align: center;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_--_
private Streams
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

#queryStreams {
	position: fixed;
	bottom: 0;
	right: 10px;
	z-index: 10;
}

#queryStreams .queryStream {
	display: inline-block;
	margin: 0 10px;
	box-shadow: 0 0 5px #CCC;
	form {
		margin: 0;
	}
	input {
		margin: 0;
	}
}
#queryStreams .queryStream .header {
	background-color: @blue;
	color: white;
	padding: 5px;
}

#queryStreams .queryStream .messages {
	max-height: 200px;
	overflow: auto;
	background-color: white;
    font-size: 14px;
    padding: 5px;
}



/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_--_
Sidebar
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

nav {
	position: absolute;
	padding: 20px 0 5px 5px;
	transition: width 0.5s;
	top: 0;
	bottom: 0;
	width: 214px;
	border-right: 1px solid #ddd;
	box-shadow: 2px 0 7px #ddd;
	h5 {
 		color: #444;
	    font-size: 18px;
	    font-weight: 100;
	    margin-bottom: 10px;
	    margin-left: 10px;
	    margin-top: 20px;
	}

	ul {
		list-style-type: none;
		margin: 0 0 10px 10px;
	}
	li {
		cursor: pointer;
		line-height: 30px;
		transition: all 0.5s;
		margin-bottom: 5px;
		i {
			margin-right: 5px;
		}
		.icon-remove {
			display: none;
			transition: all 0.5s;
		}
	}
	li:hover, li.active {
		background-color: @blue;
		color: @white;
	}
	li:hover .icon-remove , li.active .icon-remove {
		display: inline-block;
	}

}

.nav-0 {
    left: 0px;
}

.nav-1 {
    left: 220px;
}

.bottom-nav {
	bottom: 20px;
	position: absolute;
	width: 214px;
}


/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_--_
Home
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

section.anonym {
	height: 33%;
}

section.public {
	text-align: center;
}

.join-chan {
	padding: 40px;
	font-size: 20px;
	float: left;
	font-weight: bold;
	transition: all 0.5s;
	cursor: pointer;
	width: 200px;
}
.join-chan:hover {
	background-color: @blue;
	color: white;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_--_
Chan
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.content {
	background-color: rgba(0, 0, 0, 0.05);
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	left: 200px;
	transition: all 0.5s;
	padding: 20px;
	background-image: url("../img/grain.png");
  	background-position: center top;
  	background-repeat: repeat;
}

.chan {

	.messages {
		bottom: 50px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    .user-message {
    	background-color: #eee;
    	border: 1px solid @blue;
    }
		.content-messages {
			display:table-cell;
			vertical-align:bottom;
		}
		.message-key {
			font-weight: bold;
			width: 110px;
			display: inline-block;
			span {
				font-weight: normal;
				font-size: smaller;
			}
		}

		.message-body {
			display: inline-block;
		}
	}

	#messageForm {
		bottom: 0;
    left: 10px;
    margin: 0;
    position: absolute;
    right: 10px;
	}

	.chan-title {
		position: absolute;
		right: 0px;
		top: 20px;
		width: 30%;
		font-size: 25px;
		background-color: @blue;
		color: @white;
		padding: 10px;
	}
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_--_
Popup
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.popup-container {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}

.popup-content {
    //border-radius: 10px 10px 10px 10px;
    height: auto;
    text-align: center;
    top: 35%;
    width: 100%;
    display: inline-block;
		background-color: @white;
		min-height: 300px;
		padding: 30px 200px 30px 300px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
}


/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_--_
Popover Bootstrap overrides
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.popover-content {
	padding: 9px 0;
}

.popover {
	background-color: #333;
	border-radius: 2px 2px 2px 2px;
}

.popover-title {
	background-color: #222;
	border-bottom: 1px solid #555;

}

.popover.right .arrow:after {
    border-right-color: #333;
}
