@import url(http://fonts.googleapis.com/css?family=Roboto);


/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_--_
Colors
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

@blue: #009CDC;
@white: #fff;
@text: #888;

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_--_
Common
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */


body {
	font-size: 16px !important;
	/*margin: 0;
	padding: 0;*/
	height: 100%;
	font-family: 'Roboto', sans-serif;
	background: none repeat scroll 0 0 #fff;
	color: @text;
	background-image: url("../img/grain.png");
  	background-position: center top;
  	background-repeat: repeat;
}

button {
	i {
		margin-right: 10px;
	}
}


/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_--_
Home
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

section {
}

.anonym {
	text-align: center;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_--_
private Streams
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

#queryStreams {
	position: fixed;
	bottom: 0;
	right: 10px;
}

#queryStreams .queryStream {
	display: inline-block;
	margin: 0 10px;
}
#queryStreams .queryStream .header {
	background-color: @blue;
}

#queryStreams .queryStream .messages {
	max-height: 200px;
	overflow: auto;
}



/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_--_
Sidebar
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

nav {
	/*background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	//background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	//background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	//background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	//background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	//background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
	
	position: absolute;
	padding: 20px 0 5px 5px;
	transition: width 0.5s;
	top: 0;
	bottom: 0;
	width: 194px;
	border-right: 1px solid #ccc;
	h5 {
		margin-left: 10px;
		margin-bottom: 20px;
		color: #444;
	}

	ul {
		list-style-type: none;
		margin: 0 0 10px 10px;
	}
	li {
		cursor: pointer;
		line-height: 30px;
		transition: all 0.5s;
		margin-bottom: 5px;
		i {
			margin-right: 5px;
		}
	}
	li:hover, li.active {
		background-color: @blue;
		color: @white;
	}

}

.nav-0 {
    left: 0px;

}

.nav-1 {
    left: 200px;
}


/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_--_
Home
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

section.anonym {
	height: 33%;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_--_
Chan
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.content {
	background-color: rgba(0, 0, 0, 0.05);
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	left: 200px;
	transition: all 0.5s;
	padding: 20px;
}

.chan .messages {
	overflow-y: auto;
	height: 89%;
}

.chan #messageForm {
	position: absolute;
	bottom: 0;
	left: 30px;
}



/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_--_
Popup
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.popup-container {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}

.popup-content {
	position: fixed;
	width: 100%;
	height: 33%;
	padding-left: 100px;
	top: 33%;
	background-color: white;
}