@import url(http://fonts.googleapis.com/css?family=Roboto);
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_--_
Colors
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_--_
Common
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
body {
  font-size: 16px !important;
  /*margin: 0;
	padding: 0;*/

  height: 100%;
  font-family: 'Roboto', sans-serif;
  background: none repeat scroll 0 0 #FBFBFB;
  color: #666666;
}
button i {
  margin-right: 10px;
}
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_--_
Home
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
.anonym {
  text-align: center;
}
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_--_
private Streams
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
#queryStreams {
  position: fixed;
  bottom: 0;
  right: 10px;
}
#queryStreams .queryStream {
  display: inline-block;
  margin: 0 10px;
}
#queryStreams .queryStream .header {
  background-color: #009cdc;
}
#queryStreams .queryStream .messages {
  max-height: 200px;
  overflow: auto;
}
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_--_
Sidebar
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
nav {
  /*background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */

  padding: 5px 0 5px 5px;
  transition: width 1s;
  top: 0;
  bottom: 0;
}
nav h5 {
  margin-left: 10px;
}
nav ul {
  list-style-type: none;
  margin: 0 0 10px 10px;
}
nav li {
  cursor: pointer;
  line-height: 30px;
  transition: all 0.5s;
}
nav li i {
  margin-right: 5px;
}
nav li:hover,
nav li.active {
  background-color: #009cdc;
  color: #ffffff;
}
.nav-0 {
  position: absolute;
  width: 194px;
  border-right: 1px dotted #009cdc;
}
.nav-1 {
  position: absolute;
  width: 195px;
  left: 200px;
}
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_--_
Home
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
section.anonym {
  height: 33%;
}
/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_--_
Chan
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */
.content {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 200px;
  background-color: rgba(223, 223, 223, 0.3);
  transition: all 0.5s;
  padding: 20px;
}
.chan .messages {
  overflow-y: auto;
}
.chan #messageForm {
  position: absolute;
  bottom: 0;
  left: 30px;
}
