/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_--_
Common
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

body {
	font-size: 16px !important;
	/*margin: 0;
	padding: 0;*/
	height: 100%;
}

.nav-tabs a i {
	margin-left: 10px;
	cursor: pointer;
}

#control-center {
	display: none;
	background-color: black;
	position: absolute;
	width: 100%;
	top: 41px;
}

#login {
	position: absolute;
	right: 20px;
	top: 10px;
	color: white;
	z-index: 1200;
}





/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_--_
private Streams
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

#queryStreams {
	position: fixed;
	bottom: 0;
	right: 10px;
}

#queryStreams .queryStream {
	display: inline-block;
margin: 0 10px;
}
#queryStreams .queryStream .header {
	background-color: blue;
}

#queryStreams .queryStream .messages {
	max-height: 200px;
	overflow: auto;
}






/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_--_
Chan
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

/*
.chan {
	position: relative;
	    height:auto !important;
    height:100%;
    min-height:100%;
}

.chan .messages {
	overflow-y: auto;
}

.chan .messageFormContainer {
	position: absolute;
	bottom: 0;
}

*/